.hero-band {
    background: #002a51;
    color: #fff;
    padding: 40px 0px;
    margin-top: 75px;
}

.hero-band .textSec{
    align-items: center;
    vertical-align: middle;
    height: 400px;
    padding: 100px 20px;
    text-align: center;
}


 .hero-band .imgSec img {
    width: 100%;
}

.contact-hero-image img{
     transform: scaleX(-1);
}